*{
    margin: 0px;
    padding: 0px;
}
.jumbotron{
    color: #0069d9;
    background-color: #ccc;
    text-align: center;
}
.btn{
    width: 98%;
   /* position: absolute;*/
    left: 0;
    bottom: 0;
    background-color: #0069d9;
}
footer{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0 10px ;
    background-color: #ccc;
  color: #0069d9;
}